<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if staff %}
        {% for staff_member in staff %}
            <div>
                MEMBER NAME: {{ staff_member.name }}
            </div>
            <div>
                MEMBER AGE: {{ staff_member.age }}
            </div>
            <br/>
        {% endfor %}
    {% elif staff_member%}
    {% else %}
        There aren't any staff members at this school...
    {% endif %}
    {% if staff_member %}
    <div>
        STAFF NAME: {{ staff_member.name }}
    </div>
    <div>
        STAFF AGE: {{ staff_member.age }}
    </div>
    {% elif staff %}
    {%else%}
    ID is not valid
    {% endif %}
</body>
</html>